@media (prefers-color-scheme: dark) {
    html {
        background-color: #222831;
        color: #eeeeee;
    }
    a {
        color: #00bd56;
    }
    a:visited {
        color: #ffd369;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: #dddddd00;
        color: #222831;
    }
    a {
        color: #1f6cb0;
    }
    a:visited {
        color: #f05454;
    }
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 24px;
    font-family: sans-serif;
}

#content {
    padding: 16px;
}

label, select, button, #rolled-task, footer {
    display: block;
    text-align: center;
    font-size: 1rem;
}

#rolled-task {
    min-height: 32px;
}

h1 {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 32px auto;
}

@media (max-width: 900px) {
    label, select, button, #rolled-task, footer {
        width: 100%;
    }

    label {
        margin: 0 0 8px 0;
    }

    select {
        margin: 8px 0 8px 0;
    }

    button {
        margin: 8px 0 8px 0;
    }

    #rolled-task {
        margin: 24px 0 0 0;
    }
}

@media (min-width: 901px) {
    label, select, button, #rolled-task {
        width: 33vw;
        max-width: 900px;
        margin: 0 auto;
    }

    label {
        margin-bottom: 8px;
    }

    select {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    button {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #rolled-task {
        margin-top: 24px;
    }
}
